# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## This Code Modified by Alex Foradori
# Ender 3 V2 Modified with the following
# SKR Mini E3 V3
# E3D V6
# BMG Clone
# Linear Rails on X, Y & Z
##
#Include Mainsail Config
[include mainsail.cfg]
#Install Fluidd Config
[include fluidd.cfg]

# Macros 
[include macros.cfg]
# [include m600.cfg]

# pause/resume
[pause_resume]

# Virtual SD Card
[virtual_sdcard]
path: ~/gcode_files

# Steppers

[stepper_x]
step_pin: PB13
#dir_pin: !PB12
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_min: 0
position_max: 250
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
#endstop_pin: ^!PC1
position_endstop: 0
position_min: 0
position_max: 235
homing_speed: 75

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
#endstop_pin: ^PC2
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_min: -3
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
#rotation_distance: 33.500
#rotation_distance: 7.71
rotation_distance: 7.787
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance = .08
#pressure_advance = .0775
heater_pin: PC8
#sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
#max_temp: 250
max_temp: 300

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

# Heated Bed
[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

[safe_z_home]
home_xy_position: 135,111   # Nozzle coordinates
speed: 250
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 50
horizontal_move_z: 10
mesh_min: 30, 45
mesh_max: 205, 220
probe_count: 5, 5
mesh_pps: 2,2

[bed_screws]
screw1: 52,25
screw2: 220,25
screw3: 220,194
screw4: 52,194

[screws_tilt_adjust]
screw1: 52,25
screw1_name: front left screw
screw2: 220,25
screw2_name: front right screw
screw3: 220,194
screw3_name: rear right screw
screw4: 52,194
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_190014000350415339373620-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4500
max_z_velocity: 5
max_z_accel: 100

[input_shaper]
shaper_freq_x: 39.3
#shaper_freq_x: 32.3  # frequency for the X mark of the test model
shaper_freq_y: 54.2
#shaper_freq_y: 52.6  # frequency for the Y mark of the test model
shaper_type: ei

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -24
y_offset: 17
#Higher the offset, the closer to the bed the nozzle will be.
#Lower the offset, the further the nozzle will be.
#If you need more squish or if it's too high, increase the offset.
#If it's too close, lower the offset.
#z_offset: 1.78
#z_offset: 1.62
pin_move_time: 0.4
probe_with_touch_mode: True
pin_up_touch_mode_reports_triggered: False
stow_on_each_sample: False

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.209
#*# pid_ki = 1.831
#*# pid_kd = 124.613
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.380
#*# pid_ki = 1.532
#*# pid_kd = 785.731
#*#
#*# [bltouch]
#*# z_offset = 2.470
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.042500, 0.027500, -0.002500, 0.015000, 0.077500
#*# 	  0.065000, 0.010000, -0.010000, -0.005000, 0.032500
#*# 	  0.062500, 0.025000, 0.007500, -0.017500, 0.040000
#*# 	  0.045000, 0.002500, -0.005000, -0.002500, 0.075000
#*# 	  -0.007500, -0.002500, 0.027500, 0.022500, 0.085000
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 45.0
#*# x_count = 5
#*# max_y = 220.0
#*# mesh_x_pps = 2
#*# max_x = 205.0
#*#
#*# [bed_mesh p1]
#*# version = 1
#*# points =
#*# 	0.182500, 0.097500, 0.015000, -0.057500, -0.067500
#*# 	0.177500, 0.082500, -0.010000, -0.082500, -0.092500
#*# 	0.160000, 0.065000, -0.010000, -0.082500, -0.082500
#*# 	0.092500, 0.035000, -0.025000, -0.087500, -0.082500
#*# 	0.045000, -0.005000, -0.037500, -0.077500, -0.045000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 205.0
#*# min_y = 45.0
#*# max_y = 220.0
