# This file contains common pin mappings for the BIGTREETECH Manta M5P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.


#####################################################################
#   MCUs
#####################################################################
[mcu]
canbus_uuid: 281f21a3516d

[mcu EBBCan]
canbus_uuid: 7d74a4febddb

#####################################################################
#   Printer
#####################################################################

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 8000
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 6.0

####################################################################
#   Macros
#####################################################################

[include fluidd.cfg]
[include macros.cfg]
[include test_speed.cfg]
[include stealthburner_leds.cfg]
[include nevermore.cfg]
[include lcd_menu_settings.cfg]

#####################################################################
#  ADXL345 Input Shaper
#####################################################################
[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z
[resonance_tester]
accel_chip: adxl345
probe_points:
    60,60,20 # an example


# Exclude Object
[exclude_object]

#####################################################################
#   Temperature Sensors
#####################################################################
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

#####################################################################
#   Stepper Config
#####################################################################
[stepper_x]
step_pin: PC8
dir_pin: PC9
enable_pin: !PA15
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200   
endstop_pin: tmc2209_stepper_x:virtual_endstop 
#endstop_pin: ^PD3
position_endstop: 119
position_max: 119
homing_speed: 20                                                    # for sensorless homing it is recommended to use a homing speed to which makes the stepper do 1 full rotation in 2 seconds, for v0 this would be 20mm/s, you can up it to 40mm/s if needed    
homing_retract_dist: 0
homing_positive_dir: true


[tmc2209 stepper_x]
uart_pin: PD9
run_current: 1.00
diag_pin: PD3
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle  													 
driver_SGTHRS: 53  

[stepper_y]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA13
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
#endstop_pin: ^PD2
position_endstop: 119
position_max: 119
homing_speed: 20                                                    # for sensorless homing it is recommended to use a homing speed to which makes the stepper do 1 full rotation in 2 seconds, for v0 this would be 20mm/s, you can up it to 40mm/s if needed    
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD8
run_current: 1.00
diag_pin: PD2
interpolate: False
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
driver_SGTHRS: 54

[stepper_z]
step_pin: PC6
dir_pin: PC7
enable_pin: !PA9
rotation_distance: 40
gear_ratio: 9:1
microsteps: 32
endstop_pin: ^PC3
#position_endstop: 115.0
#position_max: 200
position_max: 115
position_min: 0
homing_speed: 10
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PB10
run_current: 0.80
interpolate: False
#diag_pin: PC3
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle


#####################################################################
#   Extruder
#####################################################################
[extruder]

step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2
full_steps_per_rotation: 200                                       # Set to 200 for LDO 1.8° stepper motor, and set to 400 for OMC(StepperOnline) 0.9° stepper motor
rotation_distance: 22.387                                            # See calibrating rotation_distance on extruders doc
gear_ratio: 50:10                                                   # For Mini Afterburner
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_pin: EBBCan: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
pressure_advance: 0.015                                               # See tuning pressure advance doc
#pressure_advance: 0.07
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.600
#diag_pin: PC2
sense_resistor: 0.110
stealthchop_threshold: 0  


#[extruder1]
#step_pin: PB0
#dir_pin: PB1
#enable_pin: !PC4
#heater_pin: PA7
#sensor_pin: PA2
#...


#####################################################################
#   Heater Bed
#####################################################################
[heater_bed]
heater_pin: PA5
sensor_type: Generic 3950
sensor_pin: PA0
#control: watermark
min_temp: 0
max_temp: 130


#####################################################################
#   Chamber Thermistor
#####################################################################
[temperature_sensor chamber]
sensor_type: Generic 3950
#sensor_type: NTC 100K beta 3950
sensor_pin: PA1
min_temp: 0
max_temp: 100
gcode_id: C

#####################################################################
#   Fans
#####################################################################
[fan]
pin: EBBCan: PA1

[heater_fan hotend_fan]
pin: EBBCan:PA0

[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PA3
kick_start_time: 0.5
heater: heater_bed

[heater_fan nevermore_fan]
##  Nevermore Fan - FAN1
pin: PA4
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 65
fan_speed: 1.0


#[heater_fan fan1]
#pin: PA3

#[heater_fan SoC_fan]
#pin: CB1:gpio79
#pin: RPI:gpio26


#[probe]
#pin: EBBCan:PB6

##  Part Cooling Fan - FAN0
#[nevermore_fan]
#pin: PA4


#[neopixel sb_leds]
#pin: EBBCan:PD3


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[homing_override]
axes: xyz
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    _HOME_Z
  {% endif %}


#[safe_z_home]                      Only needed if you are using V0.0 or V0.1 Z endstop location
#home_xy_position: 120,120
#speed: 50.0
#z_hop: 5

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right




[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PD5, EXP1_3=PB3, EXP1_5=PB5, EXP1_7=PB7, EXP1_9=<GND>,
    EXP1_2=PD4,  EXP1_4=PD6, EXP1_6=PB4, EXP1_8=PB6, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PB8, EXP2_5=PC10, EXP2_7=PC12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB9, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.


[display]
#  mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2
display_group: __voron_display
menu_timeout: 60

[neopixel btt_mini12864]
##  To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.0
initial_GREEN: 1.0
initial_BLUE: 0.0
color_order: RGB


#####################################################################
#   Macros
#####################################################################


[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT_RATIO = 0.7 %} # by default we are dropping the motor current during homing. you can adjust this value if you are having trouble with skipping while homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT_RATIO * RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT_RATIO * RUN_CURRENT_Y}

    # Home
    G28 X
    # Move away
    G91
    G1 X-10 F1200
    
    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    G90
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT_RATIO = 0.7 %} # by default we are dropping the motor current during homing. you can adjust this value if you are having trouble with skipping while homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT_RATIO * RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT_RATIO * RUN_CURRENT_Y}

    # Home
    G28 Y
    # Move away
    G91
    G1 Y-10 F1200

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000
    G90
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}



[gcode_macro _HOME_Z]
gcode:
    G90
    G28 Z
    G1 Z30

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.948
#*# pid_ki = 2.034
#*# pid_kd = 471.577
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.514
#*# pid_ki = 0.930
#*# pid_kd = 113.087
#*#
#*# [stepper_z]
#*# position_endstop = 114.835
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 85.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 73.8
